<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->


<form action="/answer" method="get">
  <label for="name">Ask your coach anything:</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!" >
</form>

<!-- Add a link to /ask on the answer.html.erb view using the link_to Rails helper. -->
<%#= link_to "ANCHOR_TEXT", answer_path %>
